---
import { SITE } from 'astrowind:config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 flex items-center">
  <img
    src="https://kamome-clinic.net/images/common/header/logo.png"
    alt={SITE?.name ?? 'かもめクリニック'}
    width="224"
    height="56"
    class="h-12 w-auto object-contain md:h-14"
    onerror="this.style.display='none';this.nextElementSibling.style.display='block'"
  />
  <span style="display:none" class="text-xl font-bold text-gray-900 dark:text-white whitespace-nowrap">
    {SITE?.name}
  </span>
</span>
