---
import { SITE } from 'astrowind:config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 flex items-center">
  <img
    src="https://www.kamome-clinic.net/images/common/header/logo.png"
    alt={SITE?.name ?? 'かもめクリニック'}
    width="160"
    height="40"
    class="h-9 w-auto object-contain"
    onerror="this.style.display='none';this.nextElementSibling.style.display='block'"
  />
  <span
    style="display:none"
    class="text-xl font-bold text-gray-900 dark:text-white whitespace-nowrap"
  >
    {SITE?.name}
  </span>
</span>
